

<h1>Griffith University Car Pool</h1>

<p>Don't like catching buses to Uni and find campus parking too difficult? <br>Then Griffith Car Pool is for you!<br>We'll help you easily find other students to car pool with and make it easy to organise.</p>

<p>Sign up here.</p>
